# OS
.DS_Store
Thumbs.db

# Editeurs
*.swp
*.swo

# Logs
*.log

# Environnement
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Anaconda
anaconda_projects/

# VS Code
.vscode/

# PyCharm
.idea/

# Poetry
poetry.lock
poetry.toml

# Fichiers du ML à ignorer
model/**/*.csv
model/**/*.pkl
model/**/*.png
model/**/Heat*
model/**/__pycache__/
model/**/catboost_info/

