# --- Interface ---
fastapi>=0.124.2
gradio>=4.0
pydantic>=2.6
# --- Manipulation de données ---
pandas>=2.3.3
numpy>=2.3.4
# --- Machine Learning & Inférence ---
scikit-learn>=1.7.2
catboost>=1.2.8
shap>=0.50.0
statsmodels>=0.14.5
imblearn >=0.0
# --- Base de données ---
sqlalchemy>=2.0
psycopg2-binary>=2.9
# --- Environnement de travail ---
notebook>=7.4.7
ipykernel>=7.1.0
ipywidgets>=8.1.8
# --- Visualisation ---
matplotlib>=3.10.7
seaborn>=0.13.2
plotly>=6.4.0
# --- Tests et Qualité ---
pytest==8.3.4
pytest-cov==5.0.0
black>=24.3
isort>=5.13
flake8>=7.0
# --- Documentation ---
sphinx>=7.0
sphinx-rtd-theme>=2.0
