# --- Interface ---
fastapi>=0.124.2
gradio>=4.0
pydantic>=2.6
# --- Manipulation de données ---
pandas>=2.3.3
numpy>=2.3.4
# --- Machine Learning & Inférence ---
scikit-learn>=1.7.2
catboost>=1.2.8
shap>=0.50.0
statsmodels>=0.14.5
imblearn >=0.0
# --- Base de données (si nécessaire pour loguer les prédictions) ---
sqlalchemy>=2.0
psycopg2-binary>=2.9
