# CD pour déploiement auto du code validé vers Hugging Face Spaces
# S'éxé après CI validée seulement sur main
---
name: CD Pipeline

# Déclencheurs
# Lance le workflow seulement si succès du workflow CI
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    branches:
      - main
    types:
      - completed

# Permissions nécessaires pour le workflow
permissions:
  contents: read

# Jobs
jobs:
  # job de déploiement
  deploy:
    name: Deploy to Hugging Face Spaces
    runs-on: ubuntu-latest
    # Le déploiement ne se fait que si ci est un succès et sur la branche main
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'
    # Déf des secrets au niveau du job deploy pour acces dans tous les steps
    env:
          HF_TOKEN: ${{ secrets.HUGGINGFACE_TOKEN }}
          HF_USERNAME: ${{ secrets.HUGGINGFACE_USERNAME }}
          HF_SPACE_NAME: ${{ secrets.HUGGINGFACE_SPACE_NAME }}
          SB_USER: ${{ secrets.SB_USER }}
          SB_PASSWORD: ${{ secrets.SB_PASSWORD }}
          SB_DB: ${{ secrets.SB_DB }}
          SB_HOST: ${{ secrets.SB_HOST }}
          SB_PORT: ${{ secrets.SB_PORT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # Clone tout l'historique du dépôt
        with:
          fetch-depth: 0
      - name: Prepare HF deployment folder
        # Prépare le dossier de déploiement avec les fichiers minimaux nécessaires
        # Evite d'alourdir HF et de subir les interdictions
        run: |
          rm -rf hf_deploy

          # Créations des dossiers
          mkdir -p hf_deploy/app/api/routes/
          mkdir -p hf_deploy/app/ml/model/datas/results/model/
          mkdir -p hf_deploy/app/ml/model/datas/results/features_names/
          mkdir -p hf_deploy/app/ml/model/datas/results/threshold_opt/
          mkdir -p hf_deploy/app/db/actions/
          mkdir -p hf_deploy/app/utils/

          # Fichiers racine
          cp requirements.txt hf_deploy/
          cp Dockerfile hf_deploy/

          # Init Python
          cp app/__init__.py hf_deploy/app/
          cp app/api/__init__.py hf_deploy/app/api/
          cp app/api/routes/__init__.py hf_deploy/app/api/routes/
          cp app/ml/__init__.py hf_deploy/app/ml/
          cp app/db/__init__.py hf_deploy/app/db/
          cp app/db/actions/__init__.py hf_deploy/app/db/actions/
          cp app/utils/__init__.py hf_deploy/app/utils/

          # Dir app
          cp app/main.py hf_deploy/app/

          # Dir utils
          cp app/utils/hash_id.py hf_deploy/app/utils/
          cp app/utils/logger_db.py hf_deploy/app/utils/

          # Dir ml
          cp app/ml/model.py hf_deploy/app/ml/

          # Dir db
          cp app/db/base.py hf_deploy/app/db/
          cp app/db/create_db.py hf_deploy/app/db/
          cp app/db/database.py hf_deploy/app/db/
          cp app/db/import_dataset_to_db.py hf_deploy/app/db/
          cp app/db/models_db.py hf_deploy/app/db/
          # Sub-Dir db/actions
          cp app/db/actions/get_prediction_from_db.py hf_deploy/app/db/actions
          cp app/db/actions/save_prediction_to_db.py hf_deploy/app/db/actions

          # Dir api
          cp app/api/schemas.py hf_deploy/app/api/
          # Sub-Dir api/routes
          cp app/api/routes/feature_importance.py hf_deploy/app/api/routes/
          cp app/api/routes/model_info.py hf_deploy/app/api/routes/
          cp app/api/routes/predict.py hf_deploy/app/api/routes/

          # Artefacts ML (modele, features names, threshold opt)
          cp app/ml/model/datas/results/model/best_model.cbm \
            hf_deploy/app/ml/model/datas/results/model/
          cp app/ml/model/datas/results/features_names/features_names.pkl \
            hf_deploy/app/ml/model/datas/results/features_names/
          cp app/ml/model/datas/results/threshold_opt/thresh_opt.pkl \
            hf_deploy/app/ml/model/datas/results/threshold_opt/
      - name: Mandatory README for HF
        # Rédaction d'un README specifique pour HF qui l'oblige car sert
        # de config. On créé un "heredoc" via << EOF ... EOF
        run: |
          cat << EOF > hf_deploy/README.md
          ---
          title: API for Technova Partners
          sdk: docker
          python-version: "3.11"
          app-port: 7860
          pinned: true
          licence: mit
          ---
          EOF
      - name: Push to Hugging Face Space
        # Configure git et pousse le code vers HFSpaces
        # mail et user obligatoires pour github, emploie valeurs génériques
        # Ajout remote HF, authentification via token (CI non interactive)
        # --force nécessaire car l'historique HF est indépendant du dépôt GitHub
        run: |
          set -e
          git config --global user.email "ci@github-actions.com"
          git config --global user.name "GitHub Actions"
          HF_URL="https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/${HF_SPACE_NAME}"
          # Dplt vers hf_deploy, structuration git afin de n'envoyer que hf_deploy
          cd hf_deploy
          git init
          git remote add hf "$HF_URL"
          git add .
          git commit -m "Deploiement automatique via GitHub Actions"
          git branch -M main
          git push hf main --force
      - name: Notify deployment
        if: success()
        run: |
          echo "Déploiement réussi sur Hugging Face Spaces"
          echo "URL: https://huggingface.co/spaces/${HF_USERNAME}/${HF_SPACE_NAME}"
