# CD pour déploiement auto du code validé vers Hugging Face Spaces
# S'éxé après CI validée seulement sur main
---
name: CD Pipeline

# Déclencheurs
# Lance le workflow seulement si succès du workflow CI
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

# Permissions nécessaires pour le workflow
permissions:
  contents: read

# Jobs
jobs:
  # job de déploiement
  deploy:
    name: Deploy to Hugging Face Spaces
    runs-on: ubuntu-latest
    # Le déploiement ne se fait que si ci est un succès et sur la branche main
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'
    # Déf des secrets au niveau du job deploy pour acces dans tous les steps
    env:
          HF_TOKEN: ${{ secrets.HUGGINGFACE_TOKEN }}
          HF_USERNAME: ${{ secrets.HUGGINGFACE_USERNAME }}
          HF_SPACE_NAME: ${{ secrets.HUGGINGFACE_SPACE_NAME }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # Clone tout l'historique du dépôt
        with:
          fetch-depth: 0
      - name: Push to Hugging Face Space
        # Configure git et pousse le code vers HFSpaces
        # mail et user obligatoires pour github, emploie valeurs génériques
        # Ajout remote HF, authentification via token (CI non interactive)
        # --force nécessaire car l'historique HF est indépendant du dépôt GitHub
        run: |
          git config --global user.email "ci@github-actions.com"
          git config --global user.name "GitHub Actions"
          HF_URL = https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/${HF_SPACE_NAME}
          if git remote get-url hf >/dev/null 2>&1; then
            git remote set-url hf "$HF_URL"
          else
            git remote add hf "$HF_URL"
          fi
          git checkout -b main
          git push hf main --force
      - name: Notify deployment
        if: success()
        run: |
          echo "Déploiement réussi sur Hugging Face Spaces"
          echo "URL: https://huggingface.co/spaces/${HF_USERNAME}/${HF_SPACE_NAME}"
